h1 {
	font-size: 50px;
	font-family: Arial;
	text-align: center;
}

a {
	font-size: 30px;
	margin: 100px;
}

input {
	margin-left: 600px;
	font-size: 30px;
}

button {
	margin-left: 200px;
	font-size: 30px;
}